a { text-decoration: none }

.fs-sm { font-size: 14px }
.fs-xs { font-size: 12px }

.fw-500 { font-weight: 500 }
.fw-600 { font-weight: 600 }

.line-bottom-double-line-centered {
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.line-bottom-double-line-centered::before, .line-bottom-double-line-centered::after {
    background: var(--bs-danger);
}

.line-bottom-double-line-centered::before {
    bottom: 3px;
    content: "";
    height: 1px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 20px;
}

.line-bottom-double-line-centered::after {
    bottom: 7px;
    content: "";
    height: 1px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 45px;
}

.img-cover, .banner-desktop, .banner-mobile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-desktop, .banner-mobile {
    position: absolute;
    top: 0;
    z-index: -1;
}

.banner-desktop {
    display: none;
}

@media (min-width: 992px) {
    .banner-desktop {
        display: block;
    }

    .banner-mobile {
        display: none;
    }
}

/* Bootstrap NavBar */

.navbar .nav-item { align-self: center }

.navbar.sticky-top { z-index: 100 }

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 1rem;
}

.nav-link {
    color: unset;
}

.navbar .nav-link.active {
    color: var(--bs-primary)!important;
}

/* Bootstrap Carousel */

.carousel-item {
    height: 500px;
}

.carousel-item::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
}

.carousel-item.gradient-top::before {
    background: linear-gradient(180deg, rgba(0,0,0,0.6) 20%, rgba(0,0,0,0) 100%);
}

.carousel-item.gradient-start::before {
    background: linear-gradient(90deg, rgba(0,0,0,0.6) 20%, rgba(0,0,0,0) 100%);
}

.carousel-item.gradient-end::before {
    background: linear-gradient(90deg, rgba(0,0,0,0) 20%, rgba(0,0,0,0.6) 100%);
}

.carousel-item .carousel-content {
    position: relative;
    height: 100%;
}

/* Princing plans */

.price .currency {
    vertical-align: top;
}

/* solo los impares de background light */
.plan .features .list-group-item:nth-child(odd) {
    background-color: var(--bs-light);
}